* {
    margin: 0px;
    padding: 0px;
}

/* Shared */



/* Main Body */
.inter {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: white;
    align-items: center;
}
header img {
    width: 139px;
    height: 60px;
    padding-top: 16px;
    padding-bottom: 16px;
}
header .navigations {
    display: flex;
    gap: 32px;
    align-items: center;
}
header .navigations a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500px;  
}
header button {
    font-size: 16px;
    font-weight: 600px;
    color: white;
    border: none;
    background-color: #469165;
    padding: 12.5px 16px;
    height: 44px;
    width: 165px;
    border-radius: 4px;
    cursor: pointer;
}
header button:hover{
    background-color: green;
}

#banner {
    max-width: 1600px;
    margin : 0px auto;
    border: none;
    background-image: url(./assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    text-align: center;
    align-items: center;
}
#banner .info-banner {
    padding: 115px 120px 180px 120px;
}
#banner .description {
    display: flex;
    align-items: center;
    justify-content: center;
}
#banner .description h5 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500px;
    color: #469165;
    border: none;
    background-color: white;
    border-radius: 1000px;
    width: 229px;
    height: 35px;
}
#banner .title h1 {
    color: white;
    font-size: 72px;
    font-weight: bold;
    padding-top: 16px;
    margin: 0px;
}
#banner .title h1 span {
    color: #30B868;
}
#banner .paragraph {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
}
#banner .paragraph p {
    margin: 0px;
    color: white;
    font-size: 18px;
    line-height: 24px;
    font-weight:lighter;
    margin: 0px;
    padding-top: 16px;
}
#banner .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 0px;
    padding-top: 32px;
}
#banner .buttons .banner-button-1 {
    width: 251px;
    height: 51px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 600px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#banner .buttons .banner-button-1 img{
    height: 20px;
    width: 20px;
}
#banner .buttons .banner-button-1:hover {
    background-color: green;
}
#banner .buttons .banner-button-2 {
    width: 198px;
    height: 52px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    font-weight: 500px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#banner .buttons .banner-button-2 img{
    height: 20px;
    width: 20px;
}
#banner .buttons .banner-button-2:hover {
    background-color: rgba(0, 0, 0, 0.428);
}
#notes {
    max-width: 1360px;
    margin: 0px auto;
    text-align: center;
}
#notes h1 {
    padding-top: 130px;
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}
#notes p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    padding-top: 16px;
}
#notes .noted-cards {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    padding-top: 44px;
}
#notes .noted-cards .n-card {
    width: 320px;
    height: 350px;
    text-align: center;
    border: none;
    border-radius: 8px;
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.083);
    padding: 24px;
}
#notes .noted-cards .n-card img {
    height: 60px;
    width: 60px;
    border: none;
    background-color: #F95555 ;
    border-radius: 50%;
    padding: 16px;
    margin-top: 70px;
}
#notes .noted-cards .n-card h2 {
    font-size: 24px;
    color: #001931;
    font-weight: 600px;
    padding-top: 16px;
}
#notes .noted-cards .n-card p {
    font-size: 16px;
    font-weight: lighter;
    line-height: 20px;
    padding-top: 16px;
}
#second-brain {
    width: 1360px;
    margin: 0px auto;
    margin-top: 120px;
}
#second-brain .brain-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}
#second-brain .brain-elements img {
    height: 600px;
    width: 600px;
}
#second-brain .brain-elements .brain-descriptions .small-heading {
    font-size: 16px;
    color: #469165;
    font-weight: 500px;
}
#second-brain .brain-elements .brain-descriptions h2 {
    font-size: 48px;
    font-weight: bold;
    color: #001931;
    padding-top: 16px;
}
#second-brain .brain-elements .brain-descriptions .desc {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    color: #627382;
    padding-top: 16px;
    padding-bottom: 40px;
}
#second-brain .brain-elements .brain-descriptions .brain-list p {
    font-size: 16px;
    color: #001931;
    font-weight: 500px;
    font-style: bold;
    padding-top: 20px;
    display: flex;
    align-items: center;
    gap: 6px;
}
#second-brain .brain-elements .brain-descriptions .brain-list p img {
    height: 20px;
    width: 20px;
}
#early-access{
    width: 1360px;
    height: 384px;
    margin: 0px auto;
    text-align: center;
    margin-top: 120px;
    border: none;
    border-radius: 12px;
    background-color: #F7F6F2;
}
#early-access .main-section h2 {
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    padding-top: 80px;
}
#early-access .main-section p {
    font-size: 16px;
    font-weight: normal;
    line-height: 24px;
    padding-top: 16px;
    padding-bottom: 24px;
    color: #627382;
}
#early-access .main-section .early-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
#early-access .main-section .early-button button {
    font-size: 16px;
    font-weight: 600px;
    color: white;
    border: none;
    background-color: #469165;
    padding: 12.5px 16px;
    height: 52px;
    width: 194px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#early-access .main-section .early-button img {
    height: 20px;
    width: 20px;
}

#early-access .main-section .early-button button:hover {
    background-color: green;
}
#early-access .main-section .last-line {
    padding-top: 16px;
}

